# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Django stuff:
*.log
*.pot
*.pyc
*.pyo
*.sqlite3
db.sqlite3
*.mo
media/
staticfiles/

# Environment
.env
venv/
env/
ENV/

# MySQL credentials (if added as env file)
*.env

# VSCode
.vscode/

# System
Thumbs.db
.DS_Store
